body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

input[name='prop-value'] {
  width: 100%;
}

#donate {
  margin: 0;
  padding: 0;
  text-align: right;
}

#iframe {
  float: left;
  margin-right: 20px;
}

#sidebar {
  float: left;
  width: 500px;
}

.sidebar-field {
  margin-bottom: 15px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-field select,
.sidebar-field input {
  width: 45%;
  margin: 0;
  padding: 0;
}

.sidebar-field input[type='checkbox'] {
  width: auto;
}

.sidebar-field input[name='prop-value'] {
  width: 95%;
}

.sidebar-field input[type='color'] {
  width: 5ch;
}

#sidebar-field-copy,
#sidebar-field-image-url,
#sidebar-field-add-prop,
#sidebar-field-copy-delete {
  background: none;
}

#sheet-image-url {
  width: 100%;
}

#drag {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
}
