body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 10px 0;
}

.hidden {
  display: none;
}

#drag {
  position: absolute;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.1);
}
